#include "Resource.h"

IDB_PAUSESCREEN BITMAP "PauseScreen.bmp"
IDB_STARTSCREEN BITMAP "StartScreen.bmp"
IDB_NEWGAMEBUTTON BITMAP "NewGame.bmp"
IDB_HIGHSCORESBUTTON BITMAP "highscores.bmp"
IDB_OPTIONSBUTTON BITMAP "Options.bmp"
IDB_ABOUTBUTTON BITMAP "AboutButton.bmp"
IDB_EXITBUTTON BITMAP "exit.bmp"
IDB_HIGHLIGHTBOX BITMAP "highlightbox.bmp"
IDB_RESUMEBUTTON BITMAP "resume.bmp"
IDB_RESTARTBUTTON BITMAP "Restart.bmp"
IDB_MAINMENUBUTTON BITMAP "MainMenu.bmp"
IDB_ABOUTPAGE BITMAP "AboutPage.bmp"
IDB_TRYAGAIN BITMAP "TryAgain.bmp"
IDB_BLACKMAINMENU BITMAP "BlackMainMenu.bmp"
IDB_GAMEOVER BITMAP "GameOver.bmp"
IDB_SCORE BITMAP "score.bmp"
IDB_OPTIONSSCREEN BITMAP "OptionsScreen.bmp"
IDB_VOLUMEBAR BITMAP "VolumeBar.bmp"
IDB_CIRCLE BITMAP "Circle.bmp"
IDB_WHITETHEME BITMAP "WhiteTheme.bmp"
IDB_BLACKTHEME BITMAP "BlackTheme.bmp"
IDB_BLUERECT BITMAP "bluerectangle.bmp"
IDB_CHANGEVOLUME BITMAP "ChangeVolume.bmp"
IDB_CHANGETHEME BITMAP "ChangeTheme.bmp"
IDB_BLOCK0 BITMAP "block0.bmp"
IDB_BLOCK1 BITMAP "block1.bmp"
IDB_BLOCK2 BITMAP "block2.bmp"
IDB_BLOCK3 BITMAP "block3.bmp"
IDB_BLOCK4 BITMAP "block4.bmp"
IDB_BLOCK5 BITMAP "block5.bmp"
IDB_BLOCK6 BITMAP "block6.bmp"
IDB_BLOCK7 BITMAP "block7.bmp"
IDB_BLOCK255 BITMAP "block255.bmp"
IDB_BLACKTHEMEBACKGROUND BITMAP "blackthemebackground.bmp"
IDB_SCOREBRICKBACKGROUND BITMAP "scorebackgroundbrick.bmp"
IDB_PLAYONLINE BITMAP "playonline.bmp"
IDB_WAITINGFOROPPONENT BITMAP "waitingforopponent.bmp"
IDB_YOUWIN BITMAP "youwin.bmp"
IDB_NOKIA BITMAP "nokia.bmp"
IDB_WALLBLOCK0 BITMAP "wallblock0.bmp"
IDB_WALLBLOCK1 BITMAP "wallblock1.bmp"
IDB_WALLBLOCK2 BITMAP "wallblock2.bmp"
IDB_WALLBLOCK3 BITMAP "wallblock3.bmp"
IDB_WALLBLOCK4 BITMAP "wallblock4.bmp"
IDB_WALLBLOCK5 BITMAP "wallblock5.bmp"
IDB_WALLBLOCK6 BITMAP "wallblock6.bmp"
IDB_WALLBLOCK7 BITMAP "wallblock7.bmp"
IDB_WALLBLOCK255 BITMAP "wallblock255.bmp"
IDB_ABCDBLOCK0 BITMAP "abcdblock0.bmp"
IDB_ABCDBLOCK1 BITMAP "abcdblock1.bmp"
IDB_ABCDBLOCK2 BITMAP "abcdblock2.bmp"
IDB_ABCDBLOCK3 BITMAP "abcdblock3.bmp"
IDB_ABCDBLOCK4 BITMAP "abcdblock4.bmp"
IDB_ABCDBLOCK5 BITMAP "abcdblock5.bmp"
IDB_ABCDBLOCK6 BITMAP "abcdblock6.bmp"
IDB_ABCDBLOCK7 BITMAP "abcdblock7.bmp"
IDB_ABCDBLOCK255 BITMAP "abcdblock255.bmp"

IDB_LEGOBLOCK0 BITMAP "legoblock0.bmp"
IDB_LEGOBLOCK1 BITMAP "legoblock1.bmp"
IDB_LEGOBLOCK2 BITMAP "legoblock2.bmp"
IDB_LEGOBLOCK3 BITMAP "legoblock3.bmp"
IDB_LEGOBLOCK4 BITMAP "legoblock4.bmp"
IDB_LEGOBLOCK5 BITMAP "legoblock5.bmp"
IDB_LEGOBLOCK6 BITMAP "legoblock6.bmp"
IDB_LEGOBLOCK7 BITMAP "legoblock7.bmp"
IDB_LEGOBLOCK255 BITMAP "legoblock255.bmp"

IDB_MINECRAFTBLOCK0 BITMAP "minecraftblock0.bmp"
IDB_MINECRAFTBLOCK1 BITMAP "minecraftblock1.bmp"
IDB_MINECRAFTBLOCK2 BITMAP "minecraftblock2.bmp"
IDB_MINECRAFTBLOCK3 BITMAP "minecraftblock3.bmp"
IDB_MINECRAFTBLOCK4 BITMAP "minecraftblock4.bmp"
IDB_MINECRAFTBLOCK5 BITMAP "minecraftblock5.bmp"
IDB_MINECRAFTBLOCK6 BITMAP "minecraftblock6.bmp"
IDB_MINECRAFTBLOCK7 BITMAP "minecraftblock7.bmp"
IDB_MINECRAFTBLOCK255 BITMAP "minecraftblock255.bmp"