#include "Resource.h"

IDB_PAUSESCREEN BITMAP "PauseScreen.bmp"
IDB_STARTSCREEN BITMAP "StartScreen.bmp"
IDB_NEWGAMEBUTTON BITMAP "NewGame.bmp"
IDB_HIGHSCORESBUTTON BITMAP "highscores.bmp"
IDB_OPTIONSBUTTON BITMAP "Options.bmp"
IDB_ABOUTBUTTON BITMAP "AboutButton.bmp"
IDB_EXITBUTTON BITMAP "exit.bmp"
IDB_HIGHLIGHTBOX BITMAP "highlightbox.bmp"
IDB_RESUMEBUTTON BITMAP "resume.bmp"
IDB_RESTARTBUTTON BITMAP "Restart.bmp"
IDB_MAINMENUBUTTON BITMAP "MainMenu.bmp"
IDB_ABOUTPAGE BITMAP "AboutPage.bmp"
IDB_TRYAGAIN BITMAP "TryAgain.bmp"
IDB_BLACKMAINMENU BITMAP "BlackMainMenu.bmp"
IDB_GAMEOVER BITMAP "GameOver.bmp"
IDB_SCORE BITMAP "score.bmp"
IDB_OPTIONSSCREEN BITMAP "OptionsScreen.bmp"
IDB_VOLUMEBAR BITMAP "VolumeBar.bmp"
IDB_CIRCLE BITMAP "Circle.bmp"
IDB_WHITETHEME BITMAP "WhiteTheme.bmp"
IDB_BLACKTHEME BITMAP "BlackTheme.bmp"
IDB_BLUERECT BITMAP "bluerectangle.bmp"
IDB_CHANGEVOLUME BITMAP "ChangeVolume.bmp"
IDB_CHANGETHEME BITMAP "ChangeTheme.bmp"
IDB_BLOCK0 BITMAP "block0.bmp"
IDB_BLOCK1 BITMAP "block1.bmp"
IDB_BLOCK2 BITMAP "block2.bmp"
IDB_BLOCK3 BITMAP "block3.bmp"
IDB_BLOCK4 BITMAP "block4.bmp"
IDB_BLOCK5 BITMAP "block5.bmp"
IDB_BLOCK6 BITMAP "block6.bmp"
IDB_BLOCK255 BITMAP "block255.bmp"
IDB_BLACKTHEMEBACKGROUND BITMAP "blackthemebackground.bmp"
IDB_SCOREBRICKBACKGROUND BITMAP "scorebackgroundbrick.bmp"
